crm-labora/n8n/workflow.json
{
  "name": "CRM Labora - Smartlead Webhook",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "smartlead-crm",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-node",
      "name": "Webhook Smartlead",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "smartlead-crm"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.CRM_URL }}/webhook/smartlead",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyContentType": "json",
        "jsonBody": "={{ JSON.stringify($json.body) }}",
        "options": {
          "timeout": 10000
        }
      },
      "id": "http-node",
      "name": "Enviar a CRM",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { ok: true } }}",
        "options": {}
      },
      "id": "respond-node",
      "name": "Responder OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [680, 300]
    }
  ],
  "connections": {
    "Webhook Smartlead": {
      "main": [
        [{ "node": "Enviar a CRM", "type": "main", "index": 0 }]
      ]
    },
    "Enviar a CRM": {
      "main": [
        [{ "node": "Responder OK", "type": "main", "index": 0 }]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": ["crm", "smartlead"],
  "meta": {
    "templateCredsSetupCompleted": true
  }
}
